@import-normalize;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --bgColor: #fafafa;
  --greyColor: #ececec;
  --whiteColor: #ffffff;
  --greyBgColor: #efefef;
  --blackColor: #000000;
  --secondaryBlackColor: #22252a;
  --greenColor: #8baa36;
  --secondaryGreenColor: #8aa936;
  --errorColor: #e74a3b;
  --warningColor: #f6c23e;
  --successColor: #3cbc81;
  --SectionTitleColor: #001833;
  --mainTextColor: #3e4462;
  --secondaryTextColor: #23262a;
  --greyTextColor: #bdbdbd;
  --secondaryGreyTextColor: #7e7e7e;
  --secondaryGreyTextColorTransparent: rgba(126, 126, 126, 0.5);
  --crossColor: #333333;
  --inputBg: #d9d9d9;
  --borderColor: #f0f0f0;
  --ingridientsBcg: #ebf3d4;
  --modalBg: #2a2c36;
  --lineColor: #e0e0e0;
  --secondaryLineColor: #707070;
  --countColor: #333333;
  --countBorder: rgba(51, 51, 51, 0.3);
  --recipeText: rgba(0, 0, 0, 0.8);
  --linksHoverColor: #1e1f28;
  --inputBgWithOpacity: rgba(217, 217, 217, 0.15);
  --bgScrolbarColorPrimary: #e7e5e5;
  --bgScrolbarColorSecondary: rgba(217, 217, 217, 0.025);

  --selectContentColor: rgba(0, 0, 0, 0.5);

  --card-set-gap: ____px;
  --hero-background-color: _____;
  --icons-color: #8baa36;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.greenSpinachImg {
  /* background-image: url("../"); */
  background-repeat: no-repeat;
  background-position: left 0 bottom -163px;
  background-size: 256px 392px;
}

@media screen and (min-width: 768px) {
  .greenSpinachImg {
    background-position: left 0 bottom -275px;
    background-size: 423px 646px;
  }
}
@media screen and (min-width: 1440px) {
  .greenSpinachImg {
    background-position: left 0 bottom -413px;
    background-size: 558px 852px;
  }
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
